h1{
text-align: center;
    padding: 350px;
    font-size: 45px;

}
body{
    font-family: Arial, sans-serif ;
}
a{
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: 60px;
    display: inline-block;
    color: Red;
}
.buttons{
    text-align: center;
    margin-top: -350px;
}
img{
  padding: 0;
    margin-left: 620px ;
}